<div class="checkout-container">
    <h2>My Cart</h2>
    <div class="card" *ngFor="let item of items">
        <div class="image">
            <img [src]="item.imageUrl" alt="product-image" height="80px">
        </div>
        <div class="details">
            <div>{{ item.productName }}</div>
            <!--<div>{{ item.description }}</div>-->
            <div>{{ item.price | currency:'USD':'symbol':'1.2-2'}}</div>
        </div>
        <div class="counter" [innerHTML]="orderCounter"></div>
        <div class="buttons">
            <button (click)="increaseOrderCounter()" class="button1">+</button>
            <button (click)="decreaseOrderCounter()" class="button2">-</button>
        </div>
    </div>
    <div class="order-total">
        <div class="total">
            <span class="description">Total Amount</span>
            <span class="sum-total">$20</span>
        </div>
        <button (click)="makePayment()" class="orderButton">Place order</button>
    </div>
</div>