<div class="checkout-container">
    <h2>My Cart</h2>
    <div class="card">
        <div class="image">
            <span>image</span>
        </div>
        <div class="details">
            <div>name</div>
            <div>description</div>
            <div>price</div>
        </div>
        <div class="counter" [innerHTML]="orderCounter"></div>
        <div class="buttons">
            <button (click)="increaseOrderCounter()">+</button>
            <button (click)="decreaseOrderCounter()">-</button>
        </div>
    </div>
    <div class="order-total">
        <div class="total">
            <span class="description">Total Amount</span>
            <span class="sum-total">$20</span>
        </div>
        <!--<flutterwave-make-payment [public_key]="publicKey" [amount]='amount' currency='USD' payment_options="card"
            redirect_url="" text="Place order" [customer]="customerDetails" [customizations]="customizations" [meta]="meta"
            [tx_ref]="generateReference()" (callback)="makePaymentCallback($event)" (close)="closedPaymentModal()">
        </flutterwave-make-payment>-->
        <button (click)="makePayment()" class="orderButton">Place order</button>
    </div>
</div>