<footer>
    <mat-toolbar class="toolbar" color="primary">
        <ul>
            <li><a href="https://instagram.com/blaires.crafts" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://wa.me/2347082107805" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            <li><a href="mailto: ogoh_blessing@yahoo.com?subject = Order = Message" target="_blank"><i class="fa fa-envelope"></i></a></li>
            <li><a href="tel:+2347082107805" target="_blank"><i class="fa fa-phone"></i></a></li>
            <!--<li><a href="" target="_blank"><mat-icon>facebook</mat-icon></a></li>-->
        </ul>
    </mat-toolbar>
</footer>
