.homepage-container{
    background: url('/assets/pastel_floral.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-intro {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5em 7em;
    border-radius: 1em;
    opacity: 0;
    animation: fadeIn ease 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.title {
    font-size: 5em;
    margin-bottom: 0.5em;
    font-family:'Comforter Brush', cursive;
}

.subtitle {
    margin-bottom: 1.9em;
    font-size: 1.2em;
}

.button a {
    text-decoration: none;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    border: 1.2px solid rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 30px;
}

.button a:hover {
    background-color: #ffa8b7;
    border: none;
    color: rgb(255, 255, 255);
}