<div class="homepage-container" id="homepage-container">
    <div class="homepage-intro">
        <div class="title">
            <h1>Custom gifts</h1>
        </div>
        <div class="subtitle">The piece you love is a click away!</div>
        <div class="button">
            <a routerLink="/products" routerLinkActive="active">SHOP</a>
        </div>
    </div>
    

    <!--<div class="col-xs-12 col-md-6 col-lg-5">
       
    </div>
    <img src="assets/paint.jpg" alt="" class="img-fluid" class="col-xs-12 col-md-6 col-lg-7">-->

    <!--<div id="intro">
        <div class="intro-outline">
            <div class="item title">Custom gifts</div>
            <div class="item item2">The piece you love is a click away!</div>
            <div class="item item3">
                <a routerLink="/products" routerLinkActive="active">SHOP</a>
            </div>
        </div>
    </div>-->
</div>

<router-outlet></router-outlet>