<div class="container">
    <h2>FAQs</h2>
    <p>
        Can't find what you need? We have shared most of our frequently asked questions to help you out!
    </p>
    <h3>How long does it take to process an order?</h3>
    <p>
        Not only is Oja a shopping list app, it doubles as a lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <h3>How much does delivery cost?</h3>
    <p>
        Not only is Oja a shopping list app, it doubles as a lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <h3>How long does delivery take?</h3>
    <p>
        Not only is Oja a shopping list app, it doubles as a lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <h3>How do I make a custom order?</h3>
    <p>
        Not only is Oja a shopping list app, it doubles as a lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <h3>Do you take bulk orders?</h3>
    <p>
        Not only is Oja a shopping list app, it doubles as a lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
</div>