<div class="container">
    <h2>FAQs</h2>
    <p>
        Can't find what you need? We have shared most of our frequently asked questions to help you out!
    </p>

    <h3>How long does it take to process an order?</h3>
    <p>
        Excluding delivery, processing orders take 7-14 days depending on how complex designs are but at each stage, you
        will get updates to keep up with your order.
    </p>

    <h3>How much does delivery cost?</h3>
    <p>
        The cost of delivery depends on the location of a client.
    </p>

    <h3>How long does delivery take?</h3>
    <p>
        This depends on the client's location also
    </p>

    <h3>How do I make a custom order?</h3>
    <p>
        To make a custom order, fill the form on the contact
    </p>

    <h3>Do you take bulk orders</h3>
    <p>
        Yes, we do.
    </p>
</div>