<div class="container">
    <div class="head">
        <h2>FAQs</h2>
        <p>
            Can't find what you need? We have shared most of our frequently asked questions to help you out!
        </p>
    </div>

    <div class="flex-container">
        <div class="item">
            <div class="icon1"></div>
            <div class="info">
                <h3>How long processing an order takes</h3>
                <p>
                    Excluding delivery, processing orders take 7-14 days depending on how complex designs are.<!-- but at
                    each stage, you will get updates to keep up with your order.-->
                </p>
            </div>
        </div>

        <div class="item">
            <div class="icon2"></div>
            <div class="info">
                <h3>Shipping</h3>
                <p>
                    The cost of delivery depends on the location of a client.
                </p>
            </div>
        </div>

        <div class="item">
            <div class="icon3"></div>
            <div class="info">
                <h3>Delivery</h3>
                <p>
                    This depends on the client's location also
                </p>
            </div>
        </div>

        <div class="item">
            <div class="icon4"></div>
            <div class="info">
                <h3>Custom orders</h3>
                <p>
                    To make a custom order, fill the form on the contact
                </p>
            </div>
        </div>

        <div class="item">
            <div class="icon5"></div>
            <div class="info">
                <h3>Bulk orders</h3>
                <p>
                    Yes, we do.
                </p>
            </div>
        </div>
    </div>
</div>