.container {
    padding: 2em 4em;
}

.flex-container {
    margin-top: 1em;
    
}

.item {
    border-radius: 32px;
    margin-bottom: 2.5em;
    padding:1em ;
    background: rgb(255, 255, 255);
    box-shadow:  23px 23px 56px #f7f2f2,
             -23px -23px 56px #f7f5f5;
}

.icon1, .icon2, .icon3, .icon4 {
    height: 35%;
    border-radius: 1em;
}


.info {
    padding: 0.5em;
}

h2 {
    font-family:'Comforter Brush', cursive;
    font-size: 4em;
}

h3 {
    font-family:'Comforter Brush', cursive;
    font-size: 1.5em;
    font-weight: 550;
}

@media screen and (min-width: 769px) {
    .flex-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:1em;
        margin-top: 3em;
        width: 100%;
        height: 50vh;
    }
}