.container {
    padding: 2em 4em;
}

.flex-container {
    margin-top: 1em;
    
}


.icon1, .icon2, .icon3, .icon4 {
    height: 35%;
    border-radius: 1em;
}

/*.icon1 {
    background-color: rgba(255, 192, 203, 0.4);
}

.icon2 {
    background-color: rgba(255, 255, 0, 0.4);
}

.icon3 {
    background-color: rgba(255, 218, 185, 0.4);
}

.icon4 {
    background-color: rgba(207, 255, 192, 0.4);
}*/


.info {
    padding: 0.5em;
}

h2 {
    font-family:'Comforter Brush', cursive;
    font-size: 3em;
}

h3 {
    font-family:'Comforter Brush', cursive;
    font-size: 1.5em;
    font-weight: 550;
}

@media screen and (min-width: 769px) {
    .flex-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:1em;
        margin-top: 3em;
        width: 100%;
        height: 50vh;
    }
}