.container {
    padding: 2em 4em;
}

.flex-container {
    margin-top: 4em;
    
}

.item {
  height: 50vh;
}

.icon1, .icon2, .icon3, .icon4, .icon5 {
    height: 50%;
    border-radius: 2em;
}

.icon1 {
    background-color: rgba(255, 192, 203, 0.4);
    background-image: url("/assets/he_sitting.png");
    background-size: contain;
    background-repeat:no-repeat;
}

.icon2 {
    background-color: rgba(255, 255, 0, 0.4);
}

.icon3 {
    background-color: rgba(255, 218, 185, 0.4);
}

.icon4 {
    background-color: rgba(207, 255, 192, 0.4);
}

.icon5 {
    background-color: rgba(231, 98, 65, 0.4);
}

.info {
    padding: 0.5em;
}

h2 {
    font-family:'Comforter Brush', cursive;
    font-size: 3em;
}

h3 {
    font-family:'Comforter Brush', cursive;
    font-size: 1.5em;
    font-weight: 550;
}

@media screen and (min-width: 769px) {
    .flex-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap:1em;
        margin-top: 5em;
        width: 100%;
        height: 50vh;
    }
}