.fill-remaining-space {
   flex: 1 1 auto;
 }

.mat-toolbar.mat-primary {
  background: rgb(255, 255, 255);
  color :#000;
  position:relative;
  height: 10vh;
}

.logo {
  font-family: 'The Nautigal', cursive;
  font-size: 1.2em;
}

button:hover {
  color: rgb(255, 168, 183);
}

.fa-bars {
  font-size: 1.5em;
}