<div class="container">
    <h2 class="mb-3">Contact</h2>
    
    <form action="" class="row">

        <div class="form-image col-md-6">
            <img src="/assets/contact-us.png" alt="" class="img-fluid">
        </div>

        <div class="col-md-6">

            <p>Say hi!</p>
            
            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input id="name" class="form-control">
            </div>

            <div class="form-group mb-3">
                <label for="location">Location</label>
                <input id="location" class="form-control">
            </div>

            <div class="form-group mb-3">
                <label for="subscriptionType" class="mb-3">Are you making a custom order?</label>
                <select class="form-control" id="subscriptionType">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="theme">If yes, what theme do you have in mind?</label>
                <input id="theme" class="form-control">
            </div>

            <button class="btn btn-primary">Send</button>
        </div>
    </form>
</div>