<div class="container">
    <h2 class="mb-3">Contact</h2>
    
    <form action="" class="row" #form="ngForm" [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">

        <div class="form-image col-md-6">
            <img src="data/assets/contact-us.png" alt="" class="img-fluid">
        </div>

        <div class="col-md-6">

            <p>Say hello!</p>
            
            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" required name="name" formControlName="name">
                <div *ngIf="FormData.controls['name'].invalid && FormData.controls['name'].touched">
                    <small>Name is required</small>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="name">Email</label>
                <input id="email" class="form-control" type="text" required name="email" formControlName="email">
                <div *ngIf="FormData.controls['email'].invalid && FormData.controls['email'].touched">
                    <small>Email is required</small>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="location">Location</label>
                <input id="location" class="form-control" type="text" required name="location" formControlName="location">
                <div>
                    <small></small>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="orderType" class="mb-3">Are you making a custom order?</label>
                <select class="form-control" id="orderType" required name="orderType" formControlName="orderType">
                    <option>Yes</option>
                    <option>No</option>
                </select>
                <div *ngIf="FormData.controls['orderType'].invalid && FormData.controls['orderType'].touched">
                    <small>Information is required</small>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="theme">If yes, what theme do you have in mind?</label>
                <input id="theme" class="form-control" required name="theme" formControlName="theme">
                <div>
                    <small></small>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Send</button>
        </div>
    </form>
</div>