<div class="product-container">
  <h2>{{ pageTitle }}</h2>

  <div class="div">
  <mat-form-field class="search-form">
    <input matInput placeholder="Search Items" class="input" type="search" [(ngModel)] = listFilter>
  </mat-form-field>
  <button routerLink="/checkout" routerLinkActive="active" class="checkout">
    <mat-icon class="fa fa-shopping-basket" [matBadge]="badgeNumber" matBadgeColor="warn" mat-raised-button matBadgeSize="small"></mat-icon>
  </button>
  </div>

  <div class="m-container container">
    
    <div class="card catalog" *ngFor="let product of filteredProducts">
      <img [src]="product.imageUrl" [alt]="product.alt" height="189px">
      <div class="card-container">
        <div class="product-details">
          <div class="name">{{ product.productName }}</div>
          <div class="price"><b>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</b></div>
        </div>
        <div class="button" *ngIf="product">
          <button (click)="checkout(product)">+</button>
        </div>
      </div>
    </div>
    
  </div>
</div>

<router-outlet></router-outlet>