.product-container {
  padding: 2em 2em;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  width: 100%;
  /*margin-bottom: 18%;*/
}

h2 {
  font-family:'Comforter Brush', cursive;
  font-size: 3em;
}

.div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-form {
  width: 90%;
}

.fa-shopping-basket {
  margin: auto;
  font-size: 1.3em; /*increase for mobile view*/
}

.input {
  padding: 0.5em;
}

.m-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 1em;
  display: flex;
  width:18.75em;
  height: 21.25em;
  margin:2em auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details {
  margin: auto 0 auto 1em;
}


img {
  border-radius: 0.7em 0.7em 0 0;
  height:80%;
}

.checkout {
  border:none;
  background-color: #ffffff;
}

button:not(.checkout) {
  border: 0;
  background-color: rgb(236, 119, 139);
  border-radius:0.7em 0;
  color: white;
  font-size: 1.2em;
  padding:1.2em;
}

button:not(.checkout):hover {
  background-color:rgb(255, 168, 183);
} 


@media screen and (max-width: 600px) { 
  /*add margin r/l so there are 3 cards on a row*/
}