<div class="container">
  <h2>{{ pageTitle }}</h2>

  <mat-form-field class="search-form">
    <input matInput placeholder="Search Picture" type="text" class="input">
    <button button="submit" mat-raised-button color="primary" class="button">Search</button>
    <!--[(ngModel)] = 'listFilter'-->
  </mat-form-field>


  <mat-drawer-container class="m-container" autosize>
    <mat-drawer #drawer class="m-side-nav category" mode="side">
      <p>Hello!</p>
      <p *ngIf=showFiller>Hey,Bee!</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        View Product Categories
      </button>
    </mat-drawer>

    <div class="m-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()" class="category">
        View Product Categories
      </button>
    </div>

    <div fxLayout="row wrap" fxLayout.md="column" fxLayoutWrap="wrap" fxLayoutGap="32px" fxLayoutAlign="center">
      <mat-card class="m-card" *ngFor='let product of filteredProducts' class="catalog" fxFlex="25" fxFlex.lt-md="60"
        fxFlex.xs="60">

        <mat-card-header fxLayout.gt-xs="row" fxLayout.xs="column">
          <mat-card-title>{{product.productName}}</mat-card-title>
          <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
        </mat-card-header>

        <img [src]='product.imageUrl' alt="" width="170px">
    
        <mat-card-actions>
          <b class="price">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</b>
          <button mat-button><i class="fa fa-shopping-cart cart"></i></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-drawer-container>
</div>