.container {
    background-color: rgb(255, 168, 183);
    height: 35%;
    padding: 2em 3em;
}

.about-main {
    padding-bottom: 6em;
}

.container h1 {
    /*text-align: center;*/
    font-family:'Comforter Brush', cursive;
    font-size: 3em;
    /*font-weight: 400;*/
}

img {
    width: 100%;
    margin: 1em 0 2em;
}

.bee {
    font-size: 3em;
    font-family:'Comforter Brush', cursive;
}

@media screen and (min-width: 992px) {
    .about-main {
      padding: 0 15em 5em;
    }
    .container {
        height: 50%;
    }
    img {
        height: 27em;
    }
}