<div class="container">
    <div class="about-main">
        <h2>About</h2>
        <img src="/data/assets/sahara.jpeg" alt="">
        <p>
            <span class="bee">B</span>laire's Crafts is a pioneer Polymer clay giftstore that has been creating handmade 3D art in Nigeria since 2017. At Blaire's Crafts, you get the opportunity to record your life, tell a story, express emotions and show your loved ones you care with our 3D artworks. You can customize gifts for you, your parents, kids, friends and even pets.
        </p>
        <p>
            What makes our gifts stand out is that we are not just selling accessories, stationaries or dishes. We are bringing ideas and thoughts (favorite food, pets, movies, hobbies and one's career etc) to life via art which will be invaluable to your loved ones. We are very passionate about what we do and are dedicated tomaking mindblowing pieces. We dedicate a lot of time (ranging from days to weeks) to each piece just to make sure it meets and beats your expectations everytime and totally melts your loved one's heart.
        </p>
        <p>
            As a brand, our goal is to grow to become the biggest handmade giftstore in Nigeria and we are so glad you are a part of our journey to achieve this. Thank you!
        </p>
    </div>
</div>
