@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

/*HOMEPAGE*/

/*.homepage-container {
    margin: 2em 0;
    background-image: url("assets/homepage.jpg");
    background-size: contain;
    height: 60vh;
    background-repeat: no-repeat;
}*/

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

